<div class="daily">
  <h1>Daily Questions</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile>
      <mat-card (click)="this.navigationService.goToDailyQuestion(dailyQuestionsPath.MINIMUM_OPERATIONS_TO_MAKE_ARRAY_CONTINUOUS_2009)">
        <mat-card-content>2009. minimum operations to make array continuous (unfinished)</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>
