<app-code-block
  code="canConstruct(ransomNote: string, magazine: string): boolean {
    let magazineArr = magazine.split('')
    let ransomNoteArr = ransomNote.split('')

    let i = ransomNoteArr.length - 1

    if (magazineArr.length >= ransomNoteArr.length) {
      while(i >= 0) {
        if (magazineArr.findIndex((magazineChar) => {
          return magazineChar == ransomNoteArr[i]
        }) > -1) {
          magazineArr.splice(magazineArr.findIndex((magazineChar) => {
            return magazineChar == ransomNoteArr[i]
          }),1)
        } else {
          return false
        }
        i--
      }
    } else {
      return false
    }

    return true
  }">
</app-code-block>
