<div class="home">
  <h1>Leetcode Problems</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile>
      <mat-card (click)="this.navigationService.navigateTo(routePath.INTERVIEW_QUESTIONS)">
        <mat-card-content>
          <h2>150 Interview Questions</h2>
          <div class="mat-card-icon">
            <mat-icon>mic</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h2>TO BE DONE</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>
